*.iml
.gradle
.idea

local.properties

.DS_Store

build
captures

.externalNativeBuild

.cxx

androidApp/build
androidWearApp/build
desktopApp/build
webApp/build

kamel-core/build
kamel-image/build
precompose/build

shared-logic/build
shared-ui/build
