*.iml
.gradle
.idea

local.properties

.DS_Store

build
captures

.externalNativeBuild

.cxx

androidApp/build
androidWearApp/build
desktopApp/build
webApp/build
iosApp/Pods

kamel-core/build
kamel-image/build

shared-logic/build
shared-ui/build
