*.iml
.gradle
.idea

local.properties

.DS_Store

build
captures

.externalNativeBuild

.cxx

local.properties

androidApp/build
desktopApp/build
webApp/build

shared-logic/build
shared-ui/build

precompose/build
swiperefresh/build

